<!DOCTYPE html>

<html>

<head>
    <title>
        <%= title%>
    </title>
    <!-- noty.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <!-- awesome fonts -->
    <script src="https://kit.fontawesome.com/f383b6eabf.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>


<body>

    <main id="layout-main">
        <%- body %>


            <script>
        <% if (flash.success && flash.success.length > 0) {%>
                    new Noty({
                        theme: 'sunset',
                        text: '<%=flash.success%>',
                        layout: 'bottomRight',
                        timeout: 1500
                    }).show()
                    <% } %>
        <% if (flash.error && flash.error.length > 0) {%>
                    new Noty({
                        theme: 'sunset',
                        text: '<%=flash.error%>',
                        type: 'error',
                        layout: 'bottomRight',
                        timeout: 1500
                    }).show()
                    <% } %>
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>
            <script>

</body >

</html >